.main-bottom-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/sub_vis_pt01.jpg);
    margin: 75px 0 50px 0;
}
.main-bottom-slide__map{
    width: 780px;
    height: 270px;
}



/* 하단 스와이퍼 슬라이드 */
.swiper-container2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: url(../../images/sub_vis_pt01.jpg);
    position: relative;
}

.swiper-slide{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.swiper-button-prev {
    transform: scale(0.5);  
    color: white;
    position: absolute;
    left: 160px;
}

.swiper-button-next {
    transform: scale(0.5);
    color: white;  
    position: absolute;
    right: 160px;
}
/* scale은 1이 원래 사이즈 */
